.app-header {
  position: sticky;
  top: 0;
  z-index: 990; /* Asegura que esté sobre el contenido pero debajo del sidebar móvil */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: #0f172a;
  color: #e2e8f0;
  height: 70px; /* Usar una altura fija para consistencia */
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
}

.info-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  flex-grow: 1; /* Hace que este elemento ocupe el espacio sobrante */
}

.info-welcome,
.project-title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-welcome {
  font-size: 0.875rem;
  font-weight: 400;
  color: #94a3b8;
}

.project-title {
  font-size: 1.125rem;
  font-weight: 600;
}

.header-actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
 
}
.sidebar-toggle-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 30px;
}
.sidebar-toggle-button svg {
  fill: #e2e8f0;
}
@media (max-width: 768px) {
  .info-users {
    text-align: center;
  }
  .info-welcome {
    display: none;
  }
}
